extends layout

block head
  //-link(rel='stylesheet', href='/css/custom/font-awesome/css/font-awesome.min.css')
  //-link(rel='stylesheet', href='/css/header.css')
  link(rel='stylesheet', href='/css/index.css')

block content
  nav#mainnav
  header
  section#main.main
  #map
      

block scripts
  //-script(src="/js/index.js")
  script(src="/js/script.js" async)
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkSlPom4tp0ypqQpZela8ct4VIjh2OoN8&callback=initMap")

    

