extends layout

block content
  section.main
    h1 Vida Loca
    p This is some content about us, we're awesome people doing some cool stuff and want to change the work.
    p We are creating meaningful impact in the community through open source data
    p Youtube video goes here
  footer
    div Copyright &copy; 2016 Vida Loca
    
      

block scripts
  //-script(src="/js/index.js")

    

