$bc = rgba(255,255,255,0.9) //adding $ for clarity

// Basics
//--------
* 
  text-align:center
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif 
  font-weight: 300
  padding:0
  margin:0
  vertical-align:top
*:focus
  outline: none;
html,body
  height:100%
ul
  list-style-type: none
a
  text-decoration:none
pre
  white-space: pre-wrap
  //word-wrap: break-word       /* Internet Explorer 5.5+ */
input, ul
  text-align:left


.dim
  opacity:0.5
//.blur
//  filter: blur(4px);
.l
  text-align:left
.r
  text-align:right
.hidden
  display:none !important
.invisible
  visibility:hidden


